body, html {
height: 100%;
margin: 0;
font-size: 16px;
font-family: "lato", sans-serif;
font-weight: 400;
line-height: 1.8em;
color: #666 }

.pimg1, .pimg2, .pimg3 {
position: relative;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed }

.pimg1 {
background-image: url('../image/Neptune.jpeg');
min-height: 100% }

.pimg2 {
background-image: url('../image/sky.jpeg');
min-height: 70% }

.pimg3 {
background-image: url('../image/Neptune.jpeg');
min-height: 100%;}

.section-light, .section-light1 {
padding: 50px 80px }

.section-light {
background-color: #f4f4f4;
color: #2B1B17;
font-size: 20px;
letter-spacing: 1px;
text-transform: capitalize;
text-align: center}

.section-light1 {
background-color: #f4f4f4;
color: #2B1B17;
font-size: 26px;
text-align: center;}

.ptext, .ptext1, .ptext2, .ptext3, .text, p, ol, h4 {
font-family: Segoe Print}

p, ol {
text-align: justify;
align: center }

.ptext {
position: absolute;
top: 50%;
width: 100%;
text-align: center;
font-size: 100px;
letter-spacing: 8px;
text-transform: uppercase }

.ptext1 {
position: absolute;
top: 10%;
width: 100%;
text-align: center;
font-size: 55px;
letter-spacing: 8px;
text-transform: uppercase;}

.ptext2 {
position: absolute;
width: 100%;
font-size: 55px;
letter-spacing: 8px;
text-transform: uppercase;
text-align: center }

.ptext3 {
font-size: 32px;
letter-spacing: 8px;
text-transform: uppercase;}


.bordertrans {
background-color: transparent;
color: white;
font-weight: bold}

.pimg4 {
position: relative;
width: 40% }

.image {
display: block;
width: 100%;
height: auto;}

.overlay {
position: absolute;
bottom: 100%;
left: 0;
right: 0;
background-color: #4E387E;
overflow: hidden;
width: 100%;
height: 0;
transition: .5s ease }

.pimg4:hover .overlay {
bottom: 0;
height: 100% }

.text {
color: white;
font-size: 55px;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center }
