body, html {
height: 100%;
margin: 0;
font-size: 16px;
font-family: "lato", sans-serif;
font-weight: 400;
line-height: 1.8em;
color: #666;}

.pimg1, .pimg2 {
position: relative;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;}

.pimg1 {
background-image: url('../image/Mercury.jpeg');
min-height: 100%;}

.pimg2 {
background-image: url('../image/Mercury1.jpeg');
min-height: 100%;}


.section-light, .section-light1 {
padding: 50px 80px;}

.section-light {
background-color: #f4f4f4;
color: #2B1B17;
letter-spacing: 1px;
text-transform: capitalize}

.section-light1 {
background-color: #f4f4f4;
color: #2B1B17;
font-size: 26px;}


.ptext, .ptext1, .ptext2, .ptext3, .text, p, ol {
font-family: Segoe Print;}

p, ol {
text-align: justify;
align: center;
font-size: 18px}

.ptext {
position: absolute;
top: 50%;
width: 100%;
text-align: center;
font-size: 100px;
letter-spacing: 8px;
text-transform: uppercase;
font-weight: bold}

.ptext2 {
position: absolute;
width: 100%;
font-size: 50px;
letter-spacing: 8px;
text-transform: uppercase;
text-align: center;
font-weight: bold}

.ptext3 {
font-size: 30px;
letter-spacing: 8px;
text-transform: uppercase }


.bordertrans {
background-color: transparent;
color: #010203;
color: white}
