body, html {
height: 100%;
margin: 0;
font-size: 16px;
font-family: "lato", sans-serif;
font-weight: 400;
line-height: 1.8em;
color: #666;}

.pimg1, .pimg2 {
position: relative;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;}

.pimg1 {
background-image: url('../image/Suggestion.jpeg');
min-height: 100%;}

.pimg2 {
background-image: url('../image/suggestion1.jpeg');
min-height: 20%;}

.ptext, .ptext1, .ptext2, Form  {
font-family: Segoe Print;}


.section-light, .section-light1 {
padding: 50px 80px;}

.section-light {
background-color: #f4f4f4;
color: #2B1B17;
font-size: 20px;}

.section-light1 {
background-color: #f4f4f4;
color: #2B1B17;
font-size: 26px;
text-align: center;}

.ptext {
position: absolute;
top: 50%;
width: 100%;
text-align: center;
color: #de5285;
font-size: 100px;
letter-spacing: 8px;
text-transform: uppercase;}

.ptext1 {
color: #111;
font-size: 20px;
letter-spacing: 3px;
text-transform: uppercase;}

.ptext2 {
color: #fff;
font-size: 20px;
letter-spacing: 8px;
text-transform: uppercase;}

.bordertrans {
background-color: transparent;
color: #010203;
font-weight: bold}

.i {
  color: purple;
  font-family: Segoe Print;
  font-size: 15px;
  width: 610px;
}

.j {
  width:140px;
  color:purple;
  font-family:Segoe Print;
}
